Source: tiscamera
Section: admin
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@gmail.com>
Build-Depends: debhelper (>= 9),
               libtinyxml-dev, libzip-dev,
Standards-Version: 3.9.6
Homepage: https://github.com/TheImagingSource/tiscamera
Vcs-Browser: https://github.com/TheImagingSource/tiscamera
Vcs-Git: https://github.com/TheImagingSource/tiscamera.git

Package: camera-ip-conf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Utilities for working with GigE cameras
 Utilities from communicating with GigE video cameras from
 The Imaging Source (TIS) and other vendors.
 .
 This package contains camera-ip-conf to query/assign IP addresses
 to cameras.
